<div class="page-header">
  <h1>Autouser #<%= @autouser.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Id auto</dt>
  <dd><%= @autouser.id_auto %></dd>

  <dt>Id user</dt>
  <dd><%= @autouser.id_user %></dd>

</dl>
