<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Id auto</dt>
  <dd><%= @photo.id_auto %></dd>

  <dt>Link</dt>
  <dd><%= @photo.link %></dd>

  <dt>Comment</dt>
  <dd><%= @photo.comment %></dd>

</dl>
