<!DOCTYPE html>
<html>
<head>
  <title>Your Application: Second Screen</title>


</head>
<body>
  <div class="container">

   <div class="row">
      <div class="col-sm-8">
        <div class="thumbnail">
                 <h2 class ="blueh1">2014 Range Rover Evoque</h2>
          <img src="evoque.png">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <h5 class="blueh2">Starting MSRP</h3>
            <h4>$41,100 to $57,300</h1>
              <h5 class="blueh2">Estimated MPG</h3>
                <h4>21 city / 30 hwy</h1>
                  <h6 class="blueh2">Request a Land Rover brochure</h5>
                    <h6 class="blueh2">See Photos & Videos</h5>
                      <button type="button" class="btn btn-success btn-lg">Compare</button>

                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="thumbnail">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#">Questions & Answers</a></li>
                        <li><a href="#">Photos & Videos</a></li>
                        <li><a href="#">Reviews</a></li>
                      </ul>

                      <div id="accordion" class="panel-group">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Twitter Bootstrap?</a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Twitter Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="thumbnail"><img src="ad1.png"></div>
                  </div>
                </div>


                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item">Contact us</li>
                  <li class="list-group-item">About us</li>
                  <li class="list-group-item">Services</li>
                  <li class="list-group-item">Products</li>
                  <li class="list-group-item">Copyleft 2014</li>
                </ul>
              </div>
            </body>
            </html>
